*.exe
*.pdb

*.dll

!x64/
!x64/release/
!x64/release/x64_dlls/
!x64/release/x64_dlls/**/*.dll
!x64/release/x86_dlls/
!x64/release/x86_dlls/**/*.dll

.vs/
build/
buildx64/
x64/Release/cvars.txt
x64/Release/engine.exp
x64/Release/engine.lib
x64/Release/ipc_lib.exp
x64/Release/ipc_lib.lib
x64/Release/launcher.exp
x64/Release/launcher.lib
x64/Release/level0.exp
x64/Release/level0.lib
x64/Release/level1.exp
x64/Release/level1.lib
x64/Release/logs.txt
x64/Release/materials.exp
x64/Release/materials.lib
x64/Release/math_lib.exp
x64/Release/math_lib.lib
x64/Release/models.exp
x64/Release/models.lib
x64/Release/physics.exp
x64/Release/physics.lib
x64/Release/sound.exp
x64/Release/sound.lib
